# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
.zip

# CLion
.idea

# Python
venv/

# Docs
docs/build
docs/_doxygen

# Doxygen
*.exe
*.dll
